body {
    background-color: #C19AB3 ;
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 1500px;
    height: 300px;
    display: block;
}
.container2{
    display: flex;
    margin: 0;
    padding: 0;
    width: 1500px;
    height: 780px;
}
.logo {
    width: 800px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}
.instructions img {
    width: 300px;
    height: 500px;
    margin: 0px 20px 20px 100px;
    padding: 0px;
    background-color: rgb(123, 128, 123);
}
.start-game {
    background-image: url(“”);
    width: 600px;
    height: 500px;
    margin: 0px 20px 0px 25px;
    padding: 0px;
}
.btn-center img {
    margin: auto;
    display: block;
    padding: 0px;
    width: 400px;
}
.score {
    width: 300px;
    height: 500px;
    margin: 0px 0px 100px 25px;
    padding: 0px;
    background-color: rgb(28, 31, 28);
}
.start-canvas {
    border: 1px solid black;
}