body {
    background-color: #C19AB3 ;
}

.container{
    display: flex;
    justify-content: column;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
}

.logo-game {
    width: 1400px;
    height: 200px;
    padding: 0px;
    background-color: green;
    position: fixed;
    display: block;
}

.logo {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.instructions {
    width: 300px;
    height: 500px;
    margin: 300px 20px 20px 50px;
    padding: 0px;
    background-color: rgb(123, 128, 123);
}

.start-game {
    width: 600px;
    height: 500px;
    margin: 300px 20px 0px 25px;
    padding: 0px;
    background-color: rgb(66, 68, 66);
    position: relative;
    justify-content: center;
    align-items: center;
}

.btn-center img {
    width: 120px;
}

.score {
    width: 300px;
    height: 500px;
    margin: 300px 0px 0px 25px;
    padding: 0px;
    background-color: rgb(28, 31, 28);
}

.start-canvas {
    border: 1px solid black;
}